node_modules/
dist/
.yarn/
.pnp.*
__pycache__/
*.pyc
.env
*.db
.DS_Store
coverage/
.etl-cache/
mobile/.yarn/cache/
mobile/.yarn/unplugged/
mobile/.yarn/build-state.yml
mobile/.yarn/install-state.gz
server/*.egg-info/
